.list {
    list-style-type: none;
    padding-left: 0;
    background: #E0E0E0;
    margin: 0 6px;
    padding:20px;
    border-radius: 2px;
  }
  
  .name-header {
    text-align: center;
    padding: 6px 6px;
    margin: 0;
  }
  
  .name {
    background-color: darkgray;
  }